
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../friends/images/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-style: normal;
    line-height: 20px;
    margin-right:20px;
    margin-left: 350px;
    margin-top: 150px;
   

}
.box{
    background-color:rgba(117, 174, 141, 0.415);
    display: grid;
    place-items: center;
    max-width: 600px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10pt;
}
input[type="submit"]{
    background-color: green;
    width: 20%;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
}
